.formatjson,
.actions,
.uploader {
	display: flex;
	align-items: center;
}
.formatjson {
	max-width: 1023px;
	width: 100%;
	padding: 2rem;
	background: var(--bg);
}
.textarea {
	border: none;
	flex: 1;
	outline: none;
	padding: 1rem;
	background: var(--gray-light);
	color: var(--white);
}
.textarea:focus,
.textarea:active {
	box-shadow: var(--orange) -2px -2px inset, var(--orange) 2px 2px inset;
}
.raw,
.formatted {
	/* margin: 1rem; */
	border-radius: var(--radius-sm);
	height: 30rem;
	max-height: 30rem;
}
.actions {
	padding: 1rem;
	flex-direction: column;
	justify-content: center;
}
.uploader {
	width: 100%;
	max-width: 1023px;
	justify-content: center;
}
input[type="file"] {
	color: var(--white);
	padding: 1rem;
}
